body{
    background-color: #f1f1f1
}

header{
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    height: 35px;
    padding: 7px 30px 8px 30px;
}

.burger, .logo, .search{
    display: inline-block;
    background-color: transparent;
}

.fa {
    /*display: inline;*/
    vertical-align: middle;
    background: #ffffff;
    opacity: 0.3;
    padding-top: 8px;
    padding-left: 6px;
}

#logo{
    padding-left: 35px;
    background-color: #ffffff;
    width: 73px;
}

.topMenu{
    float: left;
    max-height: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: right;
    background-color: #fff;
}

li {
    line-height: 20px;
    vertical-align: middle;
    text-decoration: none;
}

.clear
{
    clear: both;
    display: block;
    height: 0;
}

input {
    /*padding-left: 204px;*/
    width: 650px;
    height: 25px;
    /*padding-top:px;*/
    margin-left: 197px;;
    /*display: inline-block;*/
    background-color: #fff;
    border-style:solid;
    border-width: 1px;
    border-color: #d9d9d9;
    position: absolute;
    margin-top: 5px;
}